.Drower {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 90;
}

.Drower.close {
    transform: translateX(-300px);
}

.Drower ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.Drower li {
    margin-bottom: 15px;
}

.Drower a {
    color: #363d54;
    font-size: 30px;
    text-decoration: none;
    background: #fff;
    padding: 0 20px 10px 20px;
    transition: opacity .3s;
}

.Drower a:hover, .active {
    opacity: .7;
}